.app{
    padding: 10px;
    padding-top: 50px;
}
.detail{
    display:flex;
    /* width:50%; */
}


.details .big-img img{
    width:500px;
    height:700px;
    margin-top: 140px;
}
.details .images{
    display:flex;
}
.details .box{
    margin-left:40px;
}
.details .box .row h1{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
}
.details .box .row h5{
    font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
}
.details .box .row span{
    font-family: Ibarra Real Nova;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;
}
.details .box .row h6{
    font-family: Ibarra Real Nova;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #828282;
}
.box .cart{
   
    
    
    color:Black;
    font-size:large;
  width: 297px;
  height: 70px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  background: #F5A9A9;
  margin-top: 20px;
  margin-bottom: 20px;

  }
  .box .wish{
    
  width: 222px;
  height: 70px;
 margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #EFEFEF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  }

  .box .del h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    
  }
  .box .del input{
    width: 251px;
    height: 37px;
    background: #EFEFEF;
    margin: top 20px;
    margin-bottom: 10px;
  }
  .box .del button{
      
    /* position: absolute; */
    width: 92px;
    height: 36px;
    /* left: 830px;
    top: 500px; */
    color:white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: -0.1em;
    
    background: #000000;
    margin: top 20px;
    margin-bottom: 10px;
  }
.box .freedel p{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
margin-bottom: 10px;
margin-top: 10px;

}
  .box .del p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;   
    
    color: #000000;
  }
  .box .content p{
    font-family: Ibarra Real Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    
    color: #797979;
    margin-bottom: 10px;
    margin-top: 10px;
  }
.box .offers h2{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #F5A9A9;
}
.box .offers p{
    font-family: Ibarra Real Nova;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;

color: #000000;
}
.box .features h2{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #F5A9A9;
}
.box .features .featureinfo ul{
    font-family: Ibarra Real Nova;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;

color: #000000;
text-align: justify;

}
/* .app .about{
    display: flex;
    flex-direction: column;
} */